@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

body .container{
	max-width: 960px;
	margin: auto;
}

#tagline, #countbox{
	display: inline;
}

#feature-container, #body-wrapper{
	padding-bottom: 20px;
}

#countdown-header, #tagline{
	float: right;
}

.footer-text{
	font-style: italic;
}

#nav .btn{
	margin: 5px;
}

#header-container{
	margin-top: 40px;
}